.homescreen{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
      font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: whitesmoke;
}



.homescreen__body{
    a{
        i{
            color: rgb(0, 0, 0) !important;
        }
    }

    ul{
        li{
            opacity: .8;
        }
    }
}

.homescreen__img{


    img{
        height:15rem;
        
    }
}

@media (max-width:768px){
    .homescreen__img{


        img{
            height:6rem;
            
        }
    }
}